<!DOCTY<!DOCTYPE html>
<html <html lang="en">
    <head>
          <meta charset="utf-8">
          <title>MY PLOT</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
            {{script|safe}}

    </head>
    <body>
        <a href = "https://zhaoxiaojunflaskapp.herokuapp.com/"> GO BACK</a>
        {{div|safe}}
    </body>
</html>